SUPABASE_URL = "https://mehptbvzhvyzxlhnynpa.supabase.co"
SUPABASE_KEY = "sb_publishable_xxxxxxxxxxxxxxxxx"

[google_drive]
folder_id = "1mWx5bX5siYp0d63h1VSy0QHsblOXJT6i"

[google_oauth]
project_id = "GANTI_DARI_JSON_OAUTH_DESKTOP"
client_id = "GANTI_DARI_JSON_OAUTH_DESKTOP"
client_secret = "GANTI_DARI_JSON_OAUTH_DESKTOP"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
redirect_uris = ["http://localhost"]
