SUPABASE_URL = "https://mehptbvzhvyzxlhnynpa.supabase.co"
SUPABASE_KEY = "sb_publishable_xxxxxxxxxxxxxxxxx"

[google_drive]
folder_id = "1mWx5bX5siYp0d63h1VSy0QHsblOXJT6i"

[google_service_account]
type = "service_account"
project_id = "google-cloud-project"
private_key_id = "SALIN_DARI_FILE_JSON_SERVICE_ACCOUNT"
private_key = """-----BEGIN PRIVATE KEY-----
SALIN_SELURUH_ISI_PRIVATE_KEY_DARI_FILE_JSON
-----END PRIVATE KEY-----
"""
client_email = "thermovisi-uploader@google-cloud-project.iam.gserviceaccount.com"
client_id = "SALIN_DARI_FILE_JSON_SERVICE_ACCOUNT"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "SALIN_DARI_FILE_JSON_SERVICE_ACCOUNT"
